name: build
on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: Extract Java Version
        id: config
        run: |
          JAVA_VERSION=$(jq -r '.java // 21' .github/build-config.json)
          echo "java_version=$JAVA_VERSION" >> $GITHUB_OUTPUT
      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: ${{ steps.config.outputs.java_version }}
          distribution: 'microsoft'
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew build
      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
